.news {

    &_con {
        background-color: $color-softblue;
        overflow: hidden;

        >.container{
            position: relative;
        }
    }

    &__image {
        position: absolute;
        right: -10%;
        bottom: 0%;
        width: 50%;
        display: block;

        @media screen and (max-width: 992px) {
            position: unset;
            width: 80%;
            margin: 0 auto;
        }
    }
}